

.post {
    border-bottom: 1px solid #2f52a1;
    max-width: 700px;
    padding: 10px;
    margin: 1% 0;
    margin-left: 13.5%;
}

.post-content {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}



.post h3 {
    margin-top: 0;
    padding-left: 10px;
    border-left: 4px solid #2f52a1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    
}

.post-interactions {
    display: flex;
    justify-content: space-evenly;
   
    margin-top: 10px;
}

.like-button{
    background: none;
    color: #2f52a1;
    border: 2px solid #2f52a1;
    cursor: pointer;
    display: flex;
    margin-right: 15px;
  
}

.likes-count {
    margin-left: 5px;
    font-size: 14px;
}

.comment-section {
    margin-top: 20px;
    font-size: 14px;
}

#post-desc-content{
    text-align: justify;
    margin: 5px 0px 20px 0px;
}



.edit-button,
.delete-button {
    background: none;
    border: none;
    color: #dc3545;
   
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
  
}

.edit-button {
    color: #ffc107;
    
}

#posted-time{
    text-align: right;
    color: #706A5D;
    font-size: 12px;
    text-transform: capitalize;
}

.title-and-time{
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: "Inter",sans-serif;
}

.title-and-time p{
    font-size: 10px;
}

.title-and-time h5{
    font-size: 12px;
    font-weight: 400;
    color:#706A5D
}


#comment-btn-discussion {
    background-color: #2f52a1;
    border: 2px solid inherit;
    color: #fff;
    margin-bottom: 1.5%;
    transition: ease-in-out 300ms;
}

#comment-btn-discussion:hover{
    background-color: inherit;
    border: 2px solid #2f52a1;
    border-radius: 0px;
    color: #2f52a1;
    transition: ease-in-out 300ms;
}



.commentE{
    margin-left: 30px;
    padding-left: 10px;

    border-bottom: 1px solid #909092;

}

#comment-bar-and-button{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

#commenter-name{
    font-size: 12px;
    color:#706A5D;
}

#commenter-comment{
    font-size: 14px;
}