.post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  #post-title, #post-content {
    margin: 5px 0;
  }
  
  .like-button-container button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .like-button-container button:hover {
    opacity: 0.8;
  }
  
  .like-count {
    margin-left: 5px;
    font-size: 14px;
  }
  
  .comments {
    margin-top: 10px;
  }
  
  .comments li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  