.user-profile-container {
    display: flex;
}

.user-profile-left {
    width: 50%;
    padding: 20px;
}

.user-profile-right {
    width: 50%;
    margin-top: 50px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.user-profile h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2f52a1;
}

.user-profile label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2f52a1;
}

.user-profile input[type="password"],
.user-profile input[type="text"],
.user-profile input[type="email"] {
    width: calc(100% - 500px);
    padding: 6px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #2f52a1;
    border-radius: 3px;
}

.user-profile span {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #2f52a1;
    border-radius: 3px;
    width: calc(100% - 500px);
    text-align: justify;
    color: #777;
}

.user-profile button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile button:hover {
    background-color: #0056b3;
}

.user-photo {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto 10px;
    display: block;
}

.cropped-img {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}

.cropped-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.no-photo {
    margin-bottom: 10px;
    color: #777;
}