* {
    margin: 0px;
    z-index: 1;
}

.main-content h2 {
    color: #2f52a1;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}

.main-content p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.main-content img {
    width: 10%;
    margin-bottom: 65px;
    margin-top: 5%;
}

.main-content button {
    border-radius: 15px;
    background-color: #2f52a1;
    margin-top: 5%;
    padding: 15px;
    color: #fff;
    border: 1px solid white;
}

.main-content button:hover {
    background-color: #535bf2;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}